.media-image-container {
    position: relative;
    svg {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .blurred {
        filter: blur(15px)
    }
}