.Resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    h1 {
        font-size: 1em;
    }
    li {
        display: flex;
        justify-content: center;
    }
}